<% include ../partials/head %>

<body>
<% include ../partials/topbar %>


  <div class="ui main text container" style="border: 1px solid #000;padding:1rem;">

    <div class="ui container" style="padding:0rem 0rem 2rem 0rem">
      <% include ../pages/researcher/headerForIndex %>
    </div>
    <div class="ui four cards link stackable grid container">
      <% include ../pages/researcher/researcher %>
    </div>

  </div>

<% include ../partials/footer %>
</body>

</html>
